{% extends "base.html" %}
{% block title%}{% endblock %}
{% block content %}
<style>
     body {
    background: url("{{url_for('static',filename='images/post.jpg')}}") center/cover no-repeat;

  }
</style>
<h1 style="text-align:center; margin-top:2rem">Post a Blog</h1>
<form method="POST">
    <textarea name="text" id="text" class="form-control" style="width:50%;margin-left:20%" placeholder="Enter your post"></textarea>
    <div style="text-align:center">
        <div class="button" style="display:flex;margin-left: 40%;">
            <button type="submit" class="btn btn-success" >Post</button>
            <a href="{{url_for('main.home')}}"><button type="button" class="btn btn-lg btn-primary">Back</button></a>
        </div>
   
    </div>
</form><br>
   
{% endblock %}

See video clips in action

