{% extends "base.html" %}
{% block title%}{% endblock %}
{% block content %}
<h1 style="text-align:center">Post a Blog</h1>
<form method="POST">
    <textarea name="text" id="text" class="form-control" style="width:50%;margin-left:20%"></textarea>
    <div style="text-align:center">
    <button type="submit" class="btn btn-success" >Post</button>
    </div>
</form><br>
<div style="text-align:center">
    <a href="{{url_for('main.home')}}"><button type="button" class="btn btn-lg btn-primary">Back</button></a>
</div>
{% endblock %}

See video clips in action

